* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-img-url: url(./assets/bg-mobile.jpg);
  --btn-border-color: rgba(255, 255, 255, 0.5);
  --btn-bg-color: rgba(255, 255, 255, 0.05);
  --btn-bg-color-hover: rgba(255, 255, 255, 0.02);
  --icon-social-link-hover: rgba(255, 255, 255, 0.2);

  --switch-bg-icon: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-img-url: url(./assets/bg-mobile-light.jpg);
  --btn-border-color: rgba(0, 0, 0, 0.5);
  --btn-bg-color: rgba(0, 0, 0, 0.05);
  --btn-bg-color-hover: rgba(0, 0, 0, 0.02);
  --icon-social-link-hover: rgba(0, 0, 0, 0.1);

  --switch-bg-icon: url(./assets/sun.svg);
}

body {
  /*background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;*/

  /*short hand
  background: color image repeat position/size*/
  background: var(--bg-img-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/*profile*/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border: solid var(--text-color) 1px;
  border-radius: 10px;
}

.light #profile img {
  border: solid var(--text-color) 1px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*switch*/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-icon) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-ligth-to-dark 0.2s;
}

.light #switch button {
  animation: slide-dark-to-light 0.2s forwards;
}

#switch button:hover{
  outline: 8px solid var(--icon-social-link-hover);
}

/*.light #switch button:hover{
  outline: 8px solid var(--icon-social-link-hover);
}*/

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--btn-bg-color);
  border: 1px solid var(--btn-border-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: var(--btn-bg-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 8px;
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

/*pseudo-selector*/
ul li a:hover {
  background: var(--btn-bg-color-hover);
  border: 1.5px solid var(--text-color);
}

/*social links*/
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--icon-social-link-hover);
}

/*footer*/
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/*media queries -trocar a imagem de fundo com base na largura*/
@media (min-width: 700px) {
  :root {
    --bg-img-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-img-url: url(./assets/bg-desktop-light.jpg);
  }
}
/*animação do botão switch*/
@keyframes slide-dark-to-light {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-ligth-to-dark {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
